* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    display: grid;
    grid-template: 
        "title menu"  80px /
        1fr auto;

    background-color: #4eb6ac;
    border-top: 5px solid #1d313a;
}

.title {
    grid-area: title;
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: grid;
    place-items: center start;
}

.title-inner {
    padding-left: 20px
}

.menu {
    grid-area: menu;
    display: grid;
    place-items: center end;
}

nav {
    padding-right: 20px;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
}

.menu a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 100px;
    background-color: #ffffffe0;
    border-radius: 5px;
    color: #4eb6ac;
    font-weight: bold;
    text-decoration: none;
}

/* MAIN SECTION */

.main-container {
    background-color: #4eb6ac;
}

.main {
    padding: 100px 0;
    margin: 0 auto;
    width: 700px;
}

.main h1 {
    color: #ffffffe0;
    font-size: 7em;
    margin-bottom: 20px;
}

.main p {
    color: #ffffffe0;
    font-size: 1.3em;
    line-height: 1.7em;
}

.black-text {
    color: #1d313a;
    font-weight: bold;
}

.main em {
    text-decoration: underline;
    text-decoration-color: #1d313a;
}

/* ABOUT ME */

.about-container, .experience-container {
    border-top: 5px solid #1d313a;
}
    
.about, .experience {
    margin: 0 auto;
    width: 700px;
}
.about h1, .experience h1, .portfolio-title h1 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    color: #1d313a;
    
}
.about h2, .experience h2 {
    margin-top:  25px; 
    margin-bottom: 25px;
}
.about p, .about li, .experience p {
    font-size: 1.3em;
    line-height: 1.5em;
}
.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px; 
    margin-left: 40px;

}
.portfolio-container{
    border-top: solid #1d313a 5px; 
    background-color:#ffebee;
    display:grid;
    grid-template:
        "portfolio-title portfolio-title portfolio-title portfolio-title portfolio-title" 150px 
        "portfolio-left portfolio-element-1 portfolio-element-2 portfolio-element-3 portfolio-right" auto /
        1fr 300px 300px 300px 1fr;
}
.portfolio-title {
    grid-area: portfolio-title;
    text-align: center;
   
}

.portfolio-title h1 {
    padding-top: 80px;
}
.portfolio-element-1,.portfolio-element-2,.portfolio-element-3{
    
    border: solid #ae1457  5px ;
    margin: 20px ;
    padding: 30px ;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 80px;
}
.portfolio-element-1{
    grid-area: portfolio-element-1;
}
.portfolio-element-2{
    grid-area: portfolio-element-2;
}
.portfolio-element-3{
    grid-area: portfolio-element-3;
}
.read-more{
    border: radius 5px;
    display: block;
    background-color: #ae1457;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
}

.repo{
    text-align: center;
    color: #ae1457;
    display: block;
    font-size: 0.7em;
}
.experience-container {
    border-top: solid #1d313a 5px; 

}

/* FOOTER */

.footer-container {
    background-color: #1d313a;
    height: 60px;
    margin-top: 100px;
    display: grid;
    place-items: center start ;
}

.footer {
    color: white;
    padding-left: 20px;
}