* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    color: #1d313a;
    
}

h2 {
    margin-top:  25px; 
    margin-bottom: 25px;
}

p, li {
    font-size: 1.3em;
    line-height: 1.5em;
}

/* HEADER SECTION */

.header {
    display: grid;
    grid-template: 
        "title menu"  80px /
        1fr auto;

    background-color: #4eb6ac;
    border-top: 5px solid #1d313a;
}

.title {
    grid-area: title;
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: grid;
    place-items: center start;
}

.title-inner {
    padding-left: 20px
}

.menu {
    grid-area: menu;
    display: grid;
    place-items: center end;
}

nav {
    padding-right: 20px;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
}

.menu a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 120px;
    background-color: #ffffffe0;
    border-radius: 5px;
    color: #4eb6ac;
    font-weight: bold;
    text-decoration: none;
}

/* MAIN SECTION */

.main-container {
    background-color: #4eb6ac;
}

.main {
    padding: 100px 0;
    margin: 0 auto;
    max-width: 700px;
}

.main h1 {
    padding-top: 0;
    color: #ffffffe0;
    font-size: 7vw;
    margin-bottom: 20px;
    text-transform: initial;
    text-align: left;
}

.main p {
    color: #ffffffe0;
    font-size: 1.3em;
    line-height: 1.7em;
}

.black-text {
    color: #1d313a;
    font-weight: bold;
}

.main em {
    text-decoration: underline;
    text-decoration-color: #1d313a;
}

/* ABOUT ME SECTION */

.about-container, .experience-container {
    border-top: 5px solid #1d313a;
}
    
.about, .experience {
    margin: 0 auto;
    max-width: 700px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px; 
    margin-left: 40px;

}

/* PORTFOLIO SECTION */

.portfolio-container {
    border-top: solid #1d313a 5px; 
    background-color:#ffebee;
}

.portfolio-title {
    text-align: center;
}

.portfolio-title h1 {
    padding: 80px 0 50px 0;
}

.portfolio-elements {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 333px);
    place-content: center;
}

.portfolio-elements p {
    font-size: 1.2em
}

.portfolio-element-1, .portfolio-element-2, .portfolio-element-3 {
    border: solid #ae1457  5px ;
    margin: 15px ;
    padding: 30px ;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 80px;
    box-shadow: 0px 0px 10px #00000055;
}

.portfolio-container h2 {
    margin-top: 10px;
}

.read-more {
    border-radius: 5px;
    display: block;
    background-color: #ae1457;
    color: white;
    text-align: center;
    padding: 7px 0;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
}

.repo {
    text-align: center;
    color: #ae1457;
    display: block;
    font-size: 0.7em;
    font-weight: bold;
    margin-top: 10px;
}

.experience-container {
    border-top: solid #1d313a 5px; 
}

/* FOOTER SECTION */

.footer-container {
    background-color: #1d313a;
    height: 60px;
    margin-top: 100px;
    display: grid;
    place-items: center start ;
}

.footer {
    color: white;
    padding-left: 20px;
}

@media screen and (min-width: 1520px) {
    .main h1 {
        font-size: 7em;
    }
}

@media screen and (max-width: 831px) {
    .main, .about, .experience {
        padding-left: 5%;
        padding-right: 5%;
    }

    .header {
        grid-template: 
            "title" 80px
            "menu"  80px /
            1fr ;

        place-items: center;
    }

    .main h1 {
        font-size: 9vw;
    }
}

@media screen and (max-width: 560px) {
    .menu a {
        font-size: 3vw;
        width: 20vw;
    }

    .main h1 {
        font-size: 12vw;
    }
}